<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Door.MS
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5-1H2a1 1 0 0 0-1 1v2h3.5V1zm1 0v3H10V1H5.5zm6 0v3H15V2a1 1 0 0 0-1-1h-2.5zM1 5v3.5h3.5V5H1zm4.5 0v3.5H10V5H5.5zm6 0v3.5H15V5h-3.5zM1 9.5V13a1 1 0 0 0 1 1h2.5V9.5H1zm4.5 0V14H10V9.5H5.5zm6 0V14H15a1 1 0 0 0 1-1V9.5h-3.5z" />
                </svg>
                Data
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 使用していない
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 使用していない
            </NavLink>
        </div>
    </nav>
</div>

